body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
    

a:visited{
    color: rgb(0, 170, 255); 
}

.head {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(15, 184, 12);
    text-shadow: rgb(0, 170, 255) 1px 0 30px;
}

.privacypolicy {
    text-align: center;
    font-size: 1rem;
}

.breadcrumb {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

.products {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

.product {
    padding: 1rem 3rem 1rem 3rem;
}

.product:hover {
    background-color: rgb(240, 216, 184);
}

.article {
    background-color: white;
    font-size: 1.5rem;
    line-height: 1.7rem;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow:  0.5rem 0.5rem 1rem rgba(222, 131, 11, 0.575);
}

.section {
    margin-bottom: 1rem;
}